@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,700);
.details__number, .consistent__link-gradient, .info__title h1, .contacts__title, .oksana__title, .team__title, .quality__title, .info__title, .profile__title, .services__title, .part__title {
  background: linear-gradient(to right, #F0145A, #EF8080);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-bc {
  background: RGBA(50, 50, 100, 1);
  background: linear-gradient(181deg, rgb(50, 50, 100) 0%, rgb(50, 50, 100) 50%, rgb(100, 62, 114) 100%);
}

.info__title h1, .contacts__title, .oksana__title, .team__title, .quality__title, .info__title, .profile__title, .services__title, .part__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 100%;
}

.card__title h2 {
  font-weight: 700;
  font-size: 22px;
  color: #323264;
}

.contacts__subtitle, .oksana__subtitle, .achievements__title, .trust__title {
  color: #323264;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.publications__subtitles a, .team__name {
  font-weight: 700;
  font-size: 16px;
  color: #323264;
}

body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 767px) {
  .container {
    padding: 0;
    max-width: 648px;
  }
}
@media (min-width: 1024px) {
  .container {
    min-width: 904px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1320px;
    max-width: 1600px;
  }
}
@media (min-width: 1920px) {
  .container {
    min-width: 1600px;
  }
}

.gradient-bc {
  position: relative;
  padding-bottom: 60px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.gradient-bc::before {
  content: "";
  display: block;
  width: 90%;
  height: 20px;
  border-radius: 24px;
  background-color: #CACADB;
  position: absolute;
  top: calc(100% - 10px);
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
@media (min-width: 1024px) {
  .gradient-bc::before {
    width: 95%;
  }
}
.gradient-bc::after {
  content: "";
  display: block;
  width: 80%;
  height: 20px;
  border-radius: 24px;
  background-color: #E7E7F2;
  background-color: #2929a3;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
}
@media (min-width: 1024px) {
  .gradient-bc::after {
    width: 90%;
  }
}

.hlegal {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
  margin: 0 auto 30px;
}
.hlegal img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  transform: scale(1);
}
@media (min-width: 767px) {
  .hlegal img {
    margin-bottom: 60px;
  }
}
@media (min-width: 1024px) {
  .hlegal img {
    object-fit: contain;
    transform: scale(1.3);
  }
}
.hlegal::before {
  content: "you legal solutions provider";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 38px;
  color: #FFFFFF;
  z-index: 2;
  text-align: center;
}
@media (min-width: 767px) {
  .hlegal {
    height: 1024px;
    text-wrap: nowrap;
  }
}
@media (min-width: 1024px) {
  .hlegal {
    height: 768px;
  }
}
.hlegal__title {
  color: #FFFFFF;
  font-size: 38px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
}
@media (min-width: 1024px) {
  .header__row {
    display: grid;
    justify-content: space-between;
    padding-top: 50px;
  }
}
.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: rgba(245, 245, 250, 0.2);
  position: relative;
  z-index: 2;
}
@media (min-width: 767px) {
  .header__info {
    justify-content: flex-start;
    gap: 6px;
    background: none;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1024px) {
  .header__info {
    display: grid;
    grid-column: 2/3;
    grid-row: 1;
    grid-auto-flow: column;
    align-self: start;
    margin: 0;
  }
}
.header__lang button {
  color: #FFFFFF;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 24px;
  background: none;
  font-weight: 700;
  cursor: pointer;
}
.header__lang button:hover {
  background-color: #5B5B83;
  border-radius: 8px;
  padding: 0 7px;
  transition: all 0.3s ease;
}
@media (min-width: 767px) {
  .header__lang::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #E6E6F0;
    border-radius: 50%;
    margin-left: 1px;
  }
}
.header__en {
  padding: 0 7px;
  background: #F0145A !important;
  border-radius: 8px;
  user-select: none;
}
.header__address {
  display: none;
}
@media (min-width: 767px) {
  .header__address {
    display: block;
    color: #B3B3BA;
    font-size: 16px;
  }
  .header__address::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #E6E6F0;
    border-radius: 50%;
    margin-left: 6px;
    position: relative;
    top: -1.5px;
  }
}
.header__number {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  font-style: none;
}
@media (min-width: 767px) {
  .header__number img {
    background-color: #FFFFFF;
  }
  .header__number::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #E6E6F0;
    border-radius: 50%;
    margin-left: 6px;
    position: relative;
    top: -1.5px;
  }
}
.header__fb {
  display: none;
  width: 24px;
  height: 24px;
  color: #FFFFFF;
}
.header__fb:hover {
  color: #F0145A;
  transition: color 0.3s ease;
}
.header__fb img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
@media (min-width: 767px) {
  .header__fb {
    display: block;
  }
}
.header__logo {
  display: flex;
  order: 1;
  padding: 15px;
  justify-content: space-between;
}
.header__logo img {
  width: 69.33px;
  height: 32px;
}
@media (min-width: 767px) {
  .header__logo {
    padding: 0;
    width: 130px;
    height: 60px;
    margin-bottom: 30px;
  }
  .header__logo img {
    width: 130px;
    height: 60px;
    object-fit: cover;
  }
}
@media (min-width: 1024px) {
  .header__logo {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    margin: 0;
  }
}
.header__burger {
  order: 2;
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -2.5px;
  cursor: pointer;
}
@media (min-width: 767px) {
  .header__burger {
    display: none;
  }
}
.header__burger span {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #FFFFFF;
}
.header__arrow {
  width: 42px;
  height: 42px;
  border: 2px solid #B3B3BA;
  border-radius: 50%;
  position: absolute;
  top: calc(100% - 45px);
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}
.header__arrow:hover {
  transition: color 0.3s ease, border-color 0.3s ease;
  color: #F0145A;
  border-color: #F0145A;
}

.nav {
  display: none;
}
@media (min-width: 767px) {
  .nav {
    display: block;
    position: relative;
    z-index: inherit;
  }
}
@media (min-width: 1024px) {
  .nav {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    margin-top: 41px;
    justify-self: end;
  }
}
.nav__menu {
  display: flex;
  gap: 15px;
}
.nav__link {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
}
.nav__link-red {
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
  padding-bottom: 3px;
}
.nav__link:hover:not(.nav__link-red) {
  border-bottom: 2px solid #FFFFFF;
  padding-bottom: 3px;
}

.header__lang-white button:not(:last-child) {
  color: #B3B3BA;
}
.header__tel-white a {
  color: #B3B3BA;
}
.header__fb-white {
  color: #B3B3BA;
}
.header__logo-box {
  display: flex;
}
.header__burger-white span {
  background-color: #323264;
}
.header__slash {
  display: block;
  width: 11.62px !important;
  height: 26px !important;
}
@media (min-width: 767px) {
  .header__slash {
    width: 21px !important;
    height: 47px !important;
  }
}
.header__page {
  font-size: 20px;
  color: #323264;
}
@media (min-width: 767px) {
  .header__page {
    white-space: nowrap;
    font-size: 36px;
  }
}
.nav__link-white {
  color: #24A3FF;
}
.nav__link-white:hover:not(.nav__link-white-red) {
  border-bottom: 2px solid #24A3FF;
  padding-bottom: 3px;
}

.trust__title {
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: 767px) {
  .trust__general {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .trust__general {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1440px) {
  .trust__general {
    max-width: 1720px;
    margin: 0 auto 60px;
    border-radius: 24px;
    overflow: hidden;
  }
}
.trust__hilel {
  display: inline-block;
  background-color: #1C4280;
  width: 100%;
  height: 120px;
}
.trust__hilel img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  transform: scale(0.6);
}
.trust__wanna {
  display: inline-block;
  background-color: #143646;
  width: 100%;
  height: 120px;
}
.trust__wanna img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  transform: scale(0.6);
}
.trust__tap {
  display: block;
  background-color: #F48B30;
  width: 100%;
  height: 120px;
}
.trust__tap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  transform: scale(0.6);
}
.trust__3d {
  display: block;
  background-color: #9E4DC3;
  width: 100%;
  height: 120px;
}
.trust__3d img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  transform: scale(0.6);
}
.trust__orange {
  display: block;
  background-color: #FD9339;
  width: 100%;
  height: 120px;
}
.trust__orange img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  transform: scale(0.6);
}
.trust__adte {
  display: block;
  width: 100%;
  height: 120px;
}
.trust__adte img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  transform: scale(0.6);
}
.trust__click {
  display: none;
}
@media (min-width: 767px) {
  .trust__click {
    display: block;
    width: 100%;
    height: 120px;
    background-color: #C71C36;
  }
  .trust__click img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transform: scale(0.6);
  }
}
.trust__eco {
  display: none;
}
@media (min-width: 767px) {
  .trust__eco {
    display: block;
    width: 100%;
    height: 120px;
    background-color: #DCF3F9;
  }
  .trust__eco img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transform: scale(0.6);
  }
}
.trust__infra {
  display: none;
}
@media (min-width: 767px) {
  .trust__infra {
    display: block;
    width: 100%;
    height: 120px;
    background-color: #EAEAEA;
  }
  .trust__infra img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transform: scale(0.6);
  }
}
.trust__city {
  display: none;
}
@media (min-width: 767px) {
  .trust__city {
    display: block;
    width: 100%;
    height: 120px;
    background-color: #282240;
  }
  .trust__city img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transform: scale(0.6);
  }
}
.trust__art {
  display: none;
}
@media (min-width: 767px) {
  .trust__art {
    display: block;
    width: 100%;
    height: 120px;
    background-color: #1D4568;
  }
  .trust__art img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transform: scale(0.6);
  }
}
.trust__ultimate {
  display: none;
}
@media (min-width: 767px) {
  .trust__ultimate {
    display: block;
    width: 100%;
    height: 120px;
    background-color: #000000;
  }
  .trust__ultimate img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transform: scale(0.6);
  }
}

.part {
  padding: 30px;
}
@media (min-width: 767px) {
  .part {
    padding: 30px 0;
  }
}
.part__subtitle {
  display: flex;
  align-items: center;
  color: #24A3FF;
  margin-bottom: 5px;
}
.part__subtitle h4 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.part__subtitle h4:hover {
  color: #F0145A;
  transition: color 0.3s ease;
}
.part__subtitle:hover {
  color: #F0145A;
  transition: color 0.3s ease;
}
.part__title {
  font-size: 30px;
  margin-bottom: 30px;
}
@media (min-width: 767px) {
  .part__title {
    font-size: 38px;
  }
}
.part__cards {
  display: grid;
  grid-gap: 30px;
}
@media (min-width: 767px) {
  .part__cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .part__cards {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}
@media (min-width: 767px) {
  .part__card-big {
    grid-column: 1/3;
    grid-row: 2;
  }
}
@media (min-width: 1024px) {
  .part__card-big {
    grid-column: 3;
    grid-row: 1;
  }
}
.part__image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  display: block;
  height: 200px;
  width: 100%;
  margin-bottom: 30px;
}
.part__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.part__label h4 {
  margin-bottom: 15px;
  color: #24A3FF;
  display: block;
  font-size: 16px;
  font-weight: 700;
}
.part__date {
  margin-bottom: 34px;
  color: #B3B3BA;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.part__text {
  color: #000000;
  font-size: 14px;
  line-height: 22px;
}

.footer {
  padding: 30px;
}
.footer__line {
  margin-bottom: 30px;
}
.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 767px) {
  .footer__row {
    max-width: 398px;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .footer__row {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    row-gap: 21px;
    max-width: 100%;
  }
}
.footer__address {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 21px;
}
@media (min-width: 767px) {
  .footer__address {
    flex-direction: row;
    margin: 0;
    align-self: flex-start;
    margin-bottom: 21px;
  }
}
@media (min-width: 1024px) {
  .footer__address {
    margin: 0;
  }
}
.footer__street {
  font-size: 16px;
  color: #323264;
}
@media (min-width: 767px) {
  .footer__street::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: relative;
    top: -3px;
    background-color: #B3B3BA;
    margin-left: 10px;
  }
}
.footer__map {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.footer__map:hover {
  color: #F0145A;
  transition: color 0.3s ease;
}
.footer__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
@media (min-width: 767px) {
  .footer__details {
    display: grid;
    grid-auto-flow: column;
    white-space: nowrap;
    margin: 0 0 30px 0;
  }
}
@media (min-width: 1024px) {
  .footer__details {
    display: grid;
    grid-auto-flow: column;
    white-space: nowrap;
    margin: 0;
  }
}
.footer__fb {
  color: #24A3FF;
}
.footer__fb:hover {
  color: #F0145A;
  transition: color 0.3s ease;
}
@media (min-width: 767px) {
  .footer__fb::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: relative;
    top: -15px;
    background-color: #B3B3BA;
    margin-left: 10px;
  }
}
.footer__tel {
  color: #46466E;
  font-size: 16px;
  font-weight: 700;
}
@media (min-width: 767px) {
  .footer__tel::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: relative;
    top: -3px;
    background-color: #B3B3BA;
    margin-left: 10px;
  }
}
.footer__mail {
  color: #24A3FF;
  font-size: 16px;
  font-weight: 700;
}
.footer__mail:hover {
  color: #F0145A;
  transition: color 0.3s ease;
}
.footer__copy {
  color: #B3B3BA;
  font-size: 16px;
  white-space: nowrap;
}
@media (min-width: 767px) {
  .footer__copy {
    grid-column: 2/3;
    grid-row: 1;
    justify-self: end;
  }
}

.line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #E6E6F0;
}

.consistent {
  padding: 30px;
}
@media (min-width: 767px) {
  .consistent {
    padding: 60px;
  }
}
.consistent__row {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 767px) {
  .consistent__row {
    grid-gap: 60px;
  }
}
@media (min-width: 1024px) {
  .consistent__row {
    display: grid;
    grid-template-columns: minmax(auto, 1fr) auto minmax(auto, 1fr);
    grid-template-rows: 1fr;
  }
}
@media (min-width: 1440px) {
  .consistent__row {
    min-width: 1080px;
    max-width: 1360px;
    margin: 0 auto;
    grid-template-columns: 1fr auto 2fr;
  }
}
@media (min-width: 1024px) {
  .consistent__menu {
    height: 100%;
  }
}
.consistent__list {
  display: flex;
  white-space: nowrap;
  gap: 30px;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}
@media (min-width: 1024px) {
  .consistent__list {
    white-space: wrap;
    display: grid;
    grid-auto-flow: row;
    justify-items: end;
    height: 100%;
  }
}
.consistent__link {
  font-weight: bold;
  font-size: 30px;
  color: #B3B3BA;
}
@media (min-width: 767px) {
  .consistent__link {
    font-size: 38px;
  }
}
@media (min-width: 1024px) {
  .consistent__link {
    display: flex;
    flex-direction: column;
  }
}
.consistent__link:hover {
  color: #F0145A;
  transition: color 0.3s ease;
}
.consistent__line {
  width: 100%;
  background-color: #B3B3BA;
  opacity: 0.2;
  height: 4px;
}
@media (min-width: 1024px) {
  .consistent__line {
    height: 303px;
    width: 4px;
  }
}
.consistent__about {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 1440px) {
  .consistent__about {
    align-self: center;
    justify-self: center;
  }
}
.consistent__title {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
}
@media (min-width: 767px) {
  .consistent__title {
    font-size: 30px;
  }
}
.consistent__text {
  color: #FFFFFF;
  font-size: 19px;
  line-height: 30px;
}

.services {
  padding: 0 30px;
}
.services__topic {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}
@media (min-width: 767px) {
  .services__topic {
    margin-bottom: 60px;
  }
}
.services__subtitle {
  display: flex;
  align-items: center;
  color: #24A3FF;
}
.services__subtitle h4 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.services__subtitle h4:hover {
  color: #F0145A;
  transition: color 0.3s ease;
}
.services__subtitle:hover {
  color: #F0145A;
  transition: color 0.3s ease;
}
.services__title {
  font-size: 30px;
}
@media (min-width: 767px) {
  .services__title {
    font-size: 38px;
  }
}
.services__row {
  display: grid;
  grid-gap: 30px;
}
@media (min-width: 767px) {
  .services__row {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .services__row {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card__image {
  display: block;
  margin-bottom: 30px;
}
.card__image img {
  background-color: #FFFFFF;
  padding: 14px;
  border-radius: 24px;
  align-content: center;
}
.card__title h2 {
  color: #24A3FF;
  margin-bottom: 15px;
}
.card__text {
  font-size: 16px;
  color: #FFFFFF;
  line-height: 26px;
}

.alex {
  margin-top: 40px;
  padding: 0 30px;
  margin-bottom: 60px;
}
@media (min-width: 767px) {
  .alex {
    padding: 0;
  }
}
@media (min-width: 1024px) {
  .alex {
    margin-top: 60px;
  }
}

.profile {
  margin-bottom: 30px;
}
@media (min-width: 767px) {
  .profile {
    margin-bottom: 46px;
  }
}
@media (min-width: 1024px) {
  .profile {
    display: grid;
    grid-template-columns: minmax(auto, 400px) minmax(auto, 1fr);
    grid-auto-rows: 1fr;
  }
}
.profile__image {
  display: block;
  width: 100%;
  height: 500px;
}
@media (min-width: 1024px) {
  .profile__image {
    height: 528px;
  }
}
@media (min-width: 1440px) {
  .profile__image {
    height: 298px;
  }
}
.profile__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.profile__info {
  padding: 30px;
  height: 100%;
  display: grid;
  grid-auto-flow: row;
}
.profile__sutitle {
  display: flex;
  align-items: center;
  color: #24A3FF;
  margin-bottom: 5px;
}
.profile__sutitle h4 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.profile__sutitle h4:hover {
  color: #F0145A;
  transition: color 0.3s ease;
}
.profile__sutitle:hover {
  color: #F0145A;
  transition: color 0.3s ease;
}
.profile__title {
  font-size: 30px;
  margin-bottom: 30px;
}
@media (min-width: 767px) {
  .profile__title {
    font-size: 38px;
  }
}
.profile__who {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.profile__name {
  font-weight: 700;
  color: #B3B3BA;
  font-size: 16px;
}
.profile__position {
  color: #B3B3BA;
  font-size: 14px;
  line-height: 22px;
}

.slider {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.slider span {
  display: block;
  width: 16px;
  height: 16px;
  background-color: #24A3FF;
  border-radius: 50%;
}
.slider span:not(:first-child) {
  opacity: 0.5;
}

.legal {
  padding: 0 30px;
  margin: 30px 0;
}
@media (min-width: 767px) {
  .legal {
    margin: 60px 0;
    padding: 0;
  }
}

.info {
  display: grid;
  grid-gap: 30px;
}
@media (min-width: 1024px) {
  .info {
    grid-template-columns: minmax(486px, 2fr) minmax(388px, 1fr);
  }
}
.info__title {
  font-size: 30px;
  margin-bottom: 28px;
}
@media (min-width: 767px) {
  .info__title {
    font-size: 38px;
  }
}
.info__text {
  font-size: 19px;
  line-height: 30px;
}
.info__text p:not(:last-child) {
  margin-bottom: 20px;
}

.details {
  position: relative;
}
.details:before {
  content: "";
  display: block;
  height: 100%;
  width: 4px;
  background-color: #E6E6F0;
  position: absolute;
  top: 0;
}
.details__row {
  display: grid;
  grid-gap: 40px;
}
.details__card {
  margin-left: 30px;
}
.details__amount {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;
}
.details__number {
  font-size: 36px;
  font-weight: 700;
}
.details__text {
  font-size: 16px;
  color: #323264;
}

.boss {
  margin-bottom: 30px;
}
@media (min-width: 767px) {
  .boss {
    margin-bottom: 60px;
  }
}
.boss img {
  width: 100%;
  height: auto;
}

.quality {
  padding: 0 30px;
  margin-bottom: 60px;
}
.quality__row {
  display: grid;
  grid-gap: 30px;
}
@media (min-width: 1024px) {
  .quality__row {
    grid-gap: 60px;
    grid-template-columns: minmax(482px, 1fr) 362px;
  }
}
@media (min-width: 1440px) {
  .quality__row {
    grid-gap: 60px;
    grid-template-columns: minmax(482px, 2fr) 362px;
  }
}
.quality__text {
  font-size: 19px;
  line-height: 30px;
}
.quality__text p:not(:last-child) {
  margin-bottom: 20px;
}
.quality__title {
  font-size: 30px;
}
@media (min-width: 767px) {
  .quality__title {
    font-size: 38px;
  }
}

.achievements {
  padding: 30px;
}
@media (min-width: 767px) {
  .achievements {
    padding: 0;
  }
}
.achievements__title {
  text-align: center;
  margin-bottom: 55px;
}
.achievements__images {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
  margin: 0 auto 55px;
}
.achievements__img {
  display: none;
}
@media (min-width: 767px) {
  .achievements__img {
    display: block;
    transform: scale(0.7);
  }
}
@media (min-width: 1024px) {
  .achievements__img {
    transform: scale(1);
  }
}
.achievements__img-one {
  display: block;
  margin: 0 auto;
}
@media (min-width: 767px) {
  .achievements__img-one {
    margin: 0;
  }
}
.achievements__slider {
  display: flex;
  justify-content: center;
}
.achievements__slider ul {
  display: flex;
  flex-direction: row;
  gap: 14px;
}
.achievements__slider li {
  background-color: #24A3FF;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}
.achievements__slider li:not(:first-child) {
  opacity: 0.5;
}

@media (min-width: 767px) {
  .circle {
    display: none;
  }
}

.team {
  padding: 0 30px;
  margin: 30px 0 60px;
}
@media (min-width: 767px) {
  .team {
    padding: 0;
    margin: 60px 0;
  }
}
.team__title {
  font-size: 30px;
  max-width: 1360px;
  margin: 0 auto 30px;
}
@media (min-width: 767px) {
  .team__title {
    font-size: 38px;
    margin-bottom: 60px;
  }
}
.team__row {
  display: grid;
  grid-gap: 30px;
}
@media (min-width: 767px) {
  .team__row {
    grid-gap: 60px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .team__row {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.team__image {
  display: block;
  height: 300px;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 12px;
  overflow: hidden;
}
@media (min-width: 767px) {
  .team__image {
    height: 400px;
  }
}
.team__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.team__who {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team__about {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.team__name {
  display: block;
}
.team__name:hover {
  color: #F0145A;
}
.team__position {
  color: #B3B3BA;
  font-size: 14px;
  line-height: 22px;
}

.svg-arrow {
  color: #24A3FF;
}
.svg-arrow:hover {
  color: #F0145A;
}

.svg-arrow-rotate {
  transform: rotate(270deg);
}

.oksana {
  padding: 0 30px;
  margin: 30px 0;
}
@media (min-width: 767px) {
  .oksana {
    padding: 0;
    margin: 60px 0;
  }
}
.oksana__row {
  display: grid;
  grid-gap: 30px;
}
@media (min-width: 767px) {
  .oksana__row {
    grid-template-columns: minmax(300px, 1fr) minmax(318px, 1fr);
    grid-template-rows: auto 1fr;
  }
}
@media (min-width: 1024px) {
  .oksana__row {
    grid-template-columns: minmax(300px, 1fr) minmax(318px, 1fr);
    grid-template-rows: 143px;
  }
}
@media (min-width: 1440px) {
  .oksana__row {
    grid-template-columns: 400px 1fr;
    grid-template-rows: 83px;
  }
}
.oksana__image {
  height: 375px;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}
@media (min-width: 1440px) {
  .oksana__image {
    height: 500px;
  }
}
.oksana__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.oksana__contacts {
  display: grid;
  grid-gap: 15px;
}
@media (min-width: 767px) {
  .oksana__contacts {
    align-self: center;
  }
}
@media (min-width: 1024px) {
  .oksana__contacts {
    align-self: start;
  }
}
@media (min-width: 1440px) {
  .oksana__contacts {
    display: flex;
    flex-direction: column;
  }
}
.oksana__contacts-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 1440px) {
  .oksana__contacts-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 26px;
  }
}
.oksana__position {
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
  grid-row: 2;
  grid-column: 1;
}
.oksana__email {
  display: block;
  color: #24A3FF;
  font-size: 16px;
  grid-row: 2;
  grid-column: 2;
}
.oksana__linked {
  display: block;
  color: #24A3FF;
  font-size: 16px;
  grid-row: 2;
  grid-column: 3;
}
.oksana__about {
  display: grid;
  grid-gap: 30px;
}
.oksana__about:before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #E6E6F0;
}
.oksana__about p {
  font-size: 16px;
  line-height: 26px;
  columns: #000000;
}
@media (min-width: 767px) {
  .oksana__about {
    grid-column: 1/3;
  }
}
@media (min-width: 1024px) {
  .oksana__about {
    grid-column: 2/3;
  }
}
.oksana__text {
  display: grid;
  grid-gap: 20px;
}
.oksana__education {
  display: grid;
  gap: 15px;
}
.oksana__exp {
  display: grid;
  gap: 15px;
}

.contacts {
  padding: 0 30px;
  margin: 30px 0;
}
@media (min-width: 767px) {
  .contacts {
    padding: 0;
    margin: 60px 0;
  }
}
.contacts__row {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 1024px) {
  .contacts__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
  }
}
@media (min-width: 1920px) {
  .contacts__row {
    max-width: 1300px;
    margin: 0 auto;
  }
}
.contacts__details {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contacts__address {
  font-size: 21px;
  line-height: 30px;
  color: #323264;
}
.contacts__address::after {
  content: "";
  height: 4px;
  width: 100%;
  display: block;
  background-color: #E6E6F0;
  margin-top: 30px;
}
.contacts__contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contacts__contact::after {
  content: "";
  height: 4px;
  width: 100%;
  display: block;
  background-color: #E6E6F0;
  margin-top: 30px;
}
.contacts__tel {
  color: #323264;
  font-size: 21px;
  line-height: 30px;
  display: block;
}
.contacts__email {
  font-size: 21px;
  line-height: 30px;
  display: block;
  color: #24A3FF;
}
.contacts__fb {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #24A3FF;
}
.contacts__img:hover {
  color: #F0145A;
}
.contacts__our-page {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}
.contacts__forms {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.contacts__title {
  font-size: 30px;
  margin-bottom: 30px;
}
.contacts__form {
  display: block;
}
.contacts__message {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}
.contacts__name {
  display: block;
  padding: 12px;
  border: 2px solid #99cedb;
  border-radius: 12px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  width: 100%;
}
.contacts__name:focus {
  border: 2px solid #24A3FF;
  transition: border-color 0.3s ease;
}
.contacts__text {
  width: 100%;
  height: 130px;
  display: block;
  padding: 12px;
  border: 2px solid #99cedb;
  border-radius: 12px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}
.contacts__text:focus {
  border: 2px solid #24A3FF;
  transition: border-color 0.3s ease;
}
.contacts__answer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}
.contacts__subtitle {
  font-weight: 700;
  color: #B3B3BA;
}
.contacts__number {
  display: block;
  padding: 12px;
  border: 2px solid #99cedb;
  border-radius: 12px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  width: 100%;
}
.contacts__number:focus {
  border: 2px solid #24A3FF;
  transition: border-color 0.3s ease;
}
.contacts__email-input {
  display: block;
  padding: 12px;
  border: 2px solid #99cedb;
  border-radius: 12px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  width: 100%;
}
.contacts__email-input:focus {
  border: 2px solid #24A3FF;
  transition: border-color 0.3s ease;
}
.contacts__btn {
  border-radius: 12px;
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #24A3FF;
  line-height: 52px;
  padding: 0 66px;
}
.contacts__btn:hover {
  background-color: #0085FF;
  transition: background-color 0.3s ease;
}
.contacts__btn:focus {
  background-color: #006CCF;
  transition: background-color 0.3s ease;
}

.publications {
  padding: 30px;
}
@media (min-width: 767px) {
  .publications {
    margin-top: 60px;
  }
}
.publications__subtitles {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E6E6F0;
  max-width: 233px;
  margin: 0 auto 30px;
  border-radius: 10px;
  gap: 2px;
  padding: 4px;
}
.publications__subtitles a {
  display: block;
  line-height: 38px;
  padding: 0 30px;
  border-radius: 10px;
}
.publications__subtitles a:first-child {
  background-color: #FFFFFF;
}
.publications__subtitles a:hover:last-child {
  background-color: #FFFFFF;
}
.publications__row {
  display: grid;
  grid-gap: 30px;
}
@media (min-width: 767px) {
  .publications__row {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .publications__row {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.publications__block {
  padding: 30px;
}
.publications__img {
  display: block;
  width: 100%;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}
.publications__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.publications__subtitle {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: #24A3FF;
  margin-bottom: 15px;
}
.publications__subtitle:hover {
  color: #F0145A;
}
.publications__date {
  color: #B3B3BA;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.publications__text {
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}
.publications__text:before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #E6E6F0;
  margin-bottom: 15px;
}
.publications__btn {
  display: inline-block;
  line-height: 56px;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #24A3FF;
  padding: 0 30px;
  border-radius: 12px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
}

.gdrp {
  padding: 0 30px;
  margin-bottom: 60px;
  margin-top: 30px;
}
@media (min-width: 767px) {
  .gdrp {
    margin-top: 60px;
  }
}
.gdrp__row {
  max-width: 1360px;
  margin: 0 auto;
}

.about {
  margin-bottom: 30px;
}
.about__image {
  display: block;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
}
@media (min-width: 767px) {
  .about__image {
    height: 500px;
  }
}
.about__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__title {
  font-size: 20px;
  font-weight: 700;
  color: #323264;
  margin-bottom: 15px;
}
@media (min-width: 767px) {
  .about__title {
    font-size: 30px;
  }
}
.about__date {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
}

.info {
  display: flex;
  flex-direction: column;
}
.info__cnil {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}
.info__cnil p:not(:last-child) {
  margin-bottom: 20px;
}
.info__cnil:before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #E6E6F0;
  margin-bottom: 30px;
}
.info__title h1 {
  font-size: 30px;
  line-height: 100%;
}
@media (min-width: 767px) {
  .info__title h1 {
    font-size: 38px;
  }
}

.results {
  margin-bottom: 30px;
}
.results__title {
  font-size: 16px;
  font-weight: 700;
  color: #46466E;
  margin-bottom: 15px;
}
@media (min-width: 767px) {
  .results__title {
    font-size: 22px;
  }
}
.results__text {
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}
.results__add {
  display: block;
  width: 100%;
  height: 195px;
  margin-bottom: 15px;
}
.results__add img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 767px) {
  .results__add {
    height: 398px;
    max-width: 640px;
    margin: 0 auto;
  }
}
.results__add-text {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
}
@media (min-width: 767px) {
  .results__add-text {
    max-width: 640px;
    margin: 0 auto 30px;
  }
}

.list {
  margin-bottom: 30px;
}
.list li {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  padding-left: 18px;
}
.list__item-1 {
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
}
.list__item-1:before {
  content: "1.";
  display: inline-block;
  color: #F0145A;
  font-weight: 700;
  font-size: 18px;
}
.list__item-2 {
  display: flex;
  gap: 10px;
}
.list__item-2:before {
  content: "2.";
  display: block;
  color: #F0145A;
  font-weight: 700;
  font-size: 18px;
}

.decision {
  margin-bottom: 30px;
}
.decision__title {
  font-weight: 700;
  font-size: 16px;
  color: #323264;
  margin-bottom: 15px;
}
@media (min-width: 767px) {
  .decision__title {
    font-size: 22px;
  }
}
.decision__text {
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}
.decision__text p:not(:last-child) {
  margin-bottom: 20px;
}
.decision__text:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #E6E6F0;
  margin-bottom: 30px;
  margin-top: 30px;
}

.social__images {
  display: flex;
  gap: 28px;
  align-items: flex-end;
}

/*# sourceMappingURL=main.css.map */
