body{
  height: 100%;
  font-family: $main-font;
  *:hover{
    transition: color 0.3s ease;
  }
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.container {
   max-width: 100%;
   margin: 0 auto;
   
   @include respond(md){
    padding: 0;
    max-width: 648px;
   }
   @include respond(lg){
    min-width: 904px;
    
   }
   @include respond(lgx){
    width: 1320px;
    max-width: 1600px;
   }
   @include respond(lgxl){
    min-width: 1600px;
   }
}